<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <title>Home</title>

    <!--<link rel="stylesheet" href="/static/styles/worldcup.css">-->
  </head>
  <body>
    <div>
      <ul id="nav_bar">
        <li><a href="homeLink">Home</a></li>
        <li><a href="search">Search</a></li>
        <li><a href="FriendsLink">Friends</a></li>
        <li><a href="MyGamesLink">My Games</a></li>
        <li><a href="ProfileLink">Profile</a></li>
      </ul>
    </div>

  </body>
</html>