#main{
  margin-left: 20px;
  color: rgb(253, 253, 253);
}

#bar{
  background-color: #343a40;
}

.nav-item {
  margin-left: 40px;
}
.nav-link{
  color: rgb(237,217,73);
  text-align: center;
  background-color: #343a40;
  border-radius: 10px;
  margin: .5rem;
  border: 1px solid  #ffc107;
}

.navbar-toggler-icon{
  border-radius: 5px;
  border: 2px solid  rgb(57, 56, 58);
}

#search.nav-item {
  align-items: center;
  width: fit-content;
  margin-bottom: 1.5rem;
}

.modal.fade .modal-dialog {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  }
  
  .modal.fade.in .modal-dialog {
  overflow-y: scroll;
  }


