#main{
  margin-left: 20px;
  color: rgb(253, 253, 253);
}

#bar{
  background-color: rgb(35, 35, 36);
}

.nav-item {
  margin-left: 40px;

}
.nav-link{
  color: rgb(237,217,73);
  text-align: center;
  background-color: rgba(88, 95, 99, 0);
  border-radius: 10px;
  border: 2px solid  rgb(57, 56, 58);
}

.navbar-toggler-icon{
  border-radius: 5px;
  border: 2px solid  rgb(57, 56, 58);
}



