.bruh{
    color: black;
}
.test{
    padding: 4rem;
}

.review{
    border-color: black;
    font-weight: 500;
    color: gold;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-size: 50px;
    border-width: 2px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 50px;
    overflow: hidden;
}

.star-style{
    height: 40px;
    width: 40px;
    padding-right: 2px;
}

.star-value{
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
}
/* .stars{
    display: flex;
    padding: 10px;
}


.stars a{
    filter: grayscale();
    cursor: pointer;
    padding: 2px;
}

.stars:hover a{
    filter: none;
}

.stars a:hover{
    filter: none;
}

.stars a:hover ~ a{
    filter: grayscale();
}

.stars a.active{
    filter: none;
} */